body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .car {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
  }
  h1{
    text-align: center;
  }
  
  .car video {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
  }
  
  .car-info {
    padding: 10px;
    text-align: center;
  }
  
  #configurator {
    margin: 20px;
  }
  
  .hidden {
    display: none;
  }
  
  .car-info button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .car-info button:hover {
    background-color: #45a049;
  }